@import '~antd/dist/antd.css';




Form{
    /* border: 1px solid black; */
    text-align: center;
    width: 500px; 
    margin-top: 500px;
    /* height: 500px; */
}

.ant-form { 
        margin: 200px 60px 0px 300px;

}
h2{
    border: 1px solid black;
    width: 200px;
    border-color: #1890ff;
    background-color: #1890ff;
    margin-left: 220px;
}

/* Button{
    background-color: #fc5151;

} */